<head>
	<link rel="stylesheet" href="bower_components/skeleton/css/normalize.css">
	<link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="container">
		<div id="app"></div>
	</div>
	<script src="app.js"></script>
</body>